.community {
    color: white;
    display: flex;
    align-items: center;
    margin: 0px 15px 15px 15px;
    padding-top: 20px;
}

.community:hover{
    color: white;
}

.text {
    padding-left: 10px;
    color: white;
}
